.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /* gap: 10px; */
  }
 
  .headings {
    text-align: left;
    align-self: flex-start;
  }