.Header {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
}
.img {
  width: 7vw;
  /* height: 106px; */
}
.links {
  display: flex;
  gap: 2rem;
}

.icon {
  display: none;
}

li {
  list-style-type: none;
}

@media screen and (max-width:600px) {
  .Header {
    margin: 4%;
  }
 .links {
display: none;
 }
 .mobile {
  position: absolute;
  display: block;
  right: -20rem;
  top: 10%;
  gap: 1rem;
  transition: all 0.5s ease-in-out;
  width: 100%;
  
 }
 .icon {
  position: absolute;
  display: block;
  right: 20px;
 }
}